@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --bg-main: #1f1f1f;
  --card-clrone: #171717;
  --card-clrtwo: #484848;
  --border-clr: #515151;
  --main-clr: rgb(255, 119, 0);
  --btn-ckd: rgb(213, 99, 0);
}

body {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  background: linear-gradient(45deg, var(--card-clrone), var(--card-clrtwo));
  color: whitesmoke;
}

.container {
  background: var(--bg-main);
  padding: 2em;
  border-radius: 1em;
  border: .1em solid var(--border-clr);
  max-width: 330px;
}

#search {
  padding: .5em 1em;
  border: none;
  border-radius: .8em;
  font-family: inherit;
}

#search:focus {
  outline: 1px solid var(--main-clr);
}

button {
  padding: .5em 1em;
  border: none;
  border-radius: .4em;
  font-family: inherit;
  margin-left: .6em;
  background-color: var(--main-clr);
  color: var(--card-clrone);
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-ckd);
}

@media screen and (min-width: 380px) {
  .container {
    max-width: 390px
  }
}